<div class="bg-gradient-to-r from-blue-400 to-cyan-500 mb-6">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:px-8">
        <div class="text-center">
            <h2 class="text-xl font-semibold text-white uppercase tracking-wide">Mis Últimos Eventos</h2>
            <p class="mt-2 text-base text-white">Descubre los eventos más recientes que he organizado.</p>
        </div>
    </div>
</div>
<div class="flex justify-evenly flex-wrap gap-4 mb-6">
    <div class="flex flex-col items-center justify-center my-1">
        <h2 class="text-xl font-semibold mb-4">Categoría:</h2>
        <div class="flex flex-wrap gap-2">
            <div *ngFor="let city of cities" class="m-2">
                <input type="radio" id="{{city}}" class="hidden" name="city" [value]="city" [(ngModel)]="selectedCity">
                <label for="{{city}}" class="cursor-pointer text-gray-800 hover:bg-blue-500 hover:text-white bg-white rounded-3xl border border-blue-300 shadow-sm p-2
            md:w-auto {{ selectedCity === city ? 'bg-blue-500 text-blue-200' : '' }}">{{city}}</label>
            </div>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center my-1">
        <h2 class="text-xl font-semibold mb-4">Ciudad:</h2>
        <div class="flex flex-wrap gap-2">
            <div *ngFor="let city of cities" class="m-2">
                <input type="radio" id="{{city}}" class="hidden" name="city" [value]="city" [(ngModel)]="selectedCity">
                <label for="{{city}}" class="cursor-pointer text-gray-800 hover:bg-blue-500 hover:text-white bg-white rounded-3xl border border-blue-300 shadow-sm p-2
            md:w-auto {{ selectedCity === city ? 'bg-blue-500 text-blue-200' : '' }}">{{city}}</label>
            </div>
        </div>
    </div>
</div>
<div class="container mx-auto">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
        @for (item of items; track item.title) {
            <div class="max-w-xl rounded-xl overflow-hidden shadow-5 cursor-pointer hover:shadow-7">
                <img [src]="item.image" alt="Placeholder" class="object-cover mx-auto max-w-full max-h-16rem">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2">{{ item.title }}</div>
                    <p class="text-gray-700 text-base">{{ item.date }}</p>
                </div>
                <div class="px-6 py-4">
                    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                        Ver Más
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="mt-6">
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="30"></p-paginator>
    </div>
</div>
