<div class="grid">
    <div class="col-12">
        <div class="card px-6 py-6">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-full mr-2 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50"
                            (click)="openNew()">
                            New
                            <i class="pi pi-plus ml-1"></i>
                        </button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="events" [columns]="cols" responsiveLayout="scroll"
                     [first]="first"
                     [rows]="rows"
                     [totalRecords]="totalRecords"
                     [paginator]="false"
                     [rowsPerPageOptions]="[]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-col md:flex-row md:justify-between md:items-center">
                        <h3 class="m-0 text-xl">Listado de Eventos</h3>
                        <div class="mt-2 md:mt-0 relative">
                            <span class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                                <i class="pi pi-search"></i>
                            </span>
                            <input pInputText type="text" [(ngModel)]="search" (ngModelChange)="onSearch($event)" placeholder="Buscar..."
                                   class="block w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"/>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Imagen</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Categoria</th>
                        <th>Ciudad</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            {{ product.name }}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Imagen</span>
                            <img [src]="product.poster" [alt]="product.name" width="100"
                                 class="shadow-4"/>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Fecha</span>
                            {{ product.date }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Hora</span>
                            {{ product.time }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Categoria</span>
                            {{ product.category.name }}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Ciudad</span>
                            {{ product.city.name }}
                        </td>
                        <td>
                            <div class="flex">
                                <button class="p-2 rounded-full bg-blue-500 text-white mr-2 focus:outline-none focus:ring-2 focus:ring-green-400"
                                        (click)="show(product)">
                                    <i class="pi pi-eye"></i>
                                </button>
                                <button class="p-2 rounded-full bg-green-500 text-white mr-2 focus:outline-none focus:ring-2 focus:ring-green-400"
                                        (click)="editProduct(product)">
                                    <i class="pi pi-pencil"></i>
                                </button>
                                <button class="p-2 rounded-full bg-yellow-500 text-white focus:outline-none focus:ring-2 focus:ring-yellow-400"
                                        (click)="deleteProduct(product)">
                                    <i class="pi pi-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
            <div class="mt-6">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
                             [totalRecords]="totalRecords"></p-paginator>
            </div>
        </div>

        <p-dialog [(visible)]="productDialog" [style]="{width: '750px'}" header="Product Details" [modal]="true"
                  class="p-fluid">
            <ng-template pTemplate="content">
                @if (eventForm){
                    <form [formGroup]="eventForm" (ngSubmit)="saveEvent()">

                        @if(eventForm.get('poster').value){
                            <img [src]="eventForm.get('poster').value" [alt]="eventForm.get('name').value" width="150"
                                 class="mt-0 mx-auto mb-5 block shadow-2">
                        }
                        <div class="field my-2 flex justify-center items-center">
                            <p-fileUpload mode="basic" chooseLabel="Choose" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" accept="image/*" maxFileSize="1000000" (onUpload)="onUpload($event)"></p-fileUpload>
                        </div>
                        <div class="field my-2">
                            <label for="name">Nombre</label>
                            <input class="p-2" type="text" pInputText id="name" formControlName="name" required autofocus />
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-3 my-2">
                            <div class="field">
                                <label for="category">Categoria</label>
                                <p-dropdown id="category" formControlName="category" [options]="categories" optionLabel="name" placeholder="Select a Category"></p-dropdown>
                            </div>
                            <div class="field">
                                <label for="city">Ciudad</label>
                                <p-dropdown id="city" formControlName="city" [options]="cities" optionLabel="name" placeholder="Select a City"></p-dropdown>
                            </div>
                        </div>
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 px-3 my-2">
                            <div class="field">
                                <label for="date">Fecha</label>
                                <input type="date" id="date" formControlName="date" class="block w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                            <div class="field">
                                <label for="time">Hora</label>
                                <input type="time" id="time" formControlName="time" class="block w-full px-4 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
                            </div>
                        </div>
                        <div class="field my-2">
                            <label>Contenido</label>
                            <div class="NgxEditor__Wrapper">
                                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                                <ngx-editor [editor]="editor" formControlName="content" [placeholder]="'Type here...'"></ngx-editor>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="mr-2 inline-block px-4 py-2 text-white bg-gray-400 rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" (click)="hideDialog()">
                                <i class="pi pi-times mr-2"></i> Cancel
                            </button>
                            <button type="submit" class="inline-block px-4 py-2 text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-green-500">
                                <i class="pi pi-check mr-2"></i> Save
                            </button>
                        </div>
                    </form>
                }
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteProductDialog" header="Eliminar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="event">Estas seguro de eliminar el evento <b>{{ event.name }}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteProductDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si"
                        (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
